* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 10px;
}
.super-mario {
    width: 200px;
    position: absolute;
    margin-left: 105px;
    margin-top: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 350px;
    margin-left: 155px;
  }
  
  .baloon {
  position: absolute;
  margin-left: 400px;
  margin-top: 200px;
  z-index: 0;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-left: 420px;
    margin-top: 265px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 700px;
    margin-top: 350px;
  }